# Police dataset

In [2]:
import pandas as pd

In [20]:
data=pd.read_csv('E:/datasets/police_dataset.csv')

In [42]:
data.head(3)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [11]:
data.shape

(65535, 15)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   country_name        0 non-null      float64
 3   driver_gender       61474 non-null  object
 4   driver_age_raw      61481 non-null  float64
 5   driver_age          61228 non-null  float64
 6   driver_race         61475 non-null  object
 7   violation_raw       61475 non-null  object
 8   violation           61475 non-null  object
 9   search_conducted    65535 non-null  bool
 10  search_type         2479 non-null   object
 11  stop_outcome        61475 non-null  object
 12  is_arrested         61475 non-null  object
 13  stop_duration       61475 non-null  object
 14  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 6.6+ MB

**Instruction ( For Data Cleaning ) - Remove the column that only contains missing values.**

In [10]:
data.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [12]:
data.drop(columns='country_name',inplace=True)

In [14]:
data.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

**Question ( Based on Filtering + Value Counts ) - For Speeding , were Men or Women stopped more often ?**

In [32]:
data[data['violation']=='Speeding'].driver_gender.value_counts()

driver_gender
M    25517
F    11686
Name: count, dtype: int64

In [36]:
data[data.violation =='Speeding'].driver_gender.value_counts()

driver_gender
M    25517
F    11686
Name: count, dtype: int64

In [38]:
data[data.driver_gender =='M'].violation.value_counts()

violation
Speeding               25517
Moving violation        9784
Equipment               5120
Other                   3129
Registration/plates     1611
Seat belt                  3
Name: count, dtype: int64

In [39]:
data[data.driver_gender =='F'].violation.value_counts()

violation
Speeding               11686
Moving violation        2142
Equipment               1396
Registration/plates      632
Other                    454
Name: count, dtype: int64

In [40]:
data[(data.driver_gender =='M') & (data.violation=='Speeding')]

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
6,4/1/2005,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,7/13/2005,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65516,12/6/2012,10:52,NaN,M,1988.0,24.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65522,12/6/2012,14:17,NaN,M,1980.0,32.0,White,Speeding,Speeding,False,NaN,Citation,False,30+ Min,False
65523,12/6/2012,14:33,NaN,M,1967.0,45.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
65529,12/6/2012,16:00,NaN,M,1994.0,18.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False

In [25]:
data[(data['driver_gender']=='M') & (data['violation']=='Speeding')]

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
6,4/1/2005,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,7/13/2005,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65516,12/6/2012,10:52,NaN,M,1988.0,24.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65522,12/6/2012,14:17,NaN,M,1980.0,32.0,White,Speeding,Speeding,False,NaN,Citation,False,30+ Min,False
65523,12/6/2012,14:33,NaN,M,1967.0,45.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
65529,12/6/2012,16:00,NaN,M,1994.0,18.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False

In [26]:
data[(data['driver_gender']=='M') & (data['violation']=='Speeding')].count()

stop_date             25517
stop_time             25517
country_name              0
driver_gender         25517
driver_age_raw        25517
driver_age            25458
driver_race           25517
violation_raw         25517
violation             25517
search_conducted      25517
search_type             694
stop_outcome          25517
is_arrested           25517
stop_duration         25517
drugs_related_stop    25517
dtype: int64

In [28]:
data[(data['driver_gender']=='F') & (data['violation']=='Speeding')].head(3)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,6/6/2005,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
11,7/13/2005,19:00,NaN,F,1966.0,39.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [29]:
data[(data['driver_gender']=='F') & (data['violation']=='Speeding')].count()

stop_date             11686
stop_time             11686
country_name              0
driver_gender         11686
driver_age_raw        11686
driver_age            11661
driver_race           11686
violation_raw         11686
violation             11686
search_conducted      11686
search_type             102
stop_outcome          11686
is_arrested           11686
stop_duration         11686
drugs_related_stop    11686
dtype: int64

**Question ( Groupby ) - Does gender affect who gets searched during a stop ?**

In [47]:
data.groupby('driver_gender').search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

**Question ( mapping + data-type casting ) - What is the mean stop_duration ?**

In [48]:
data.stop_duration.value_counts()

stop_duration
0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: count, dtype: int64

In [51]:
#data.duration=data.stop_duration.replace({'0-15 Min': 7.5})

In [53]:
#data.duration

0              7.5
1              7.5
2              7.5
3        16-30 Min
4              7.5
           ...
65530          7.5
65531          7.5
65532          7.5
65533          NaN
65534          7.5
Name: stop_duration, Length: 65535, dtype: object

In [54]:
data.duration=data.stop_duration.map({'0-15 Min': 7.5,'16-30 Min': 24,'30+ Min': 45,})

In [55]:
data.duration

0         7.5
1         7.5
2         7.5
3        24.0
4         7.5
         ...
65530     7.5
65531     7.5
65532     7.5
65533     NaN
65534     7.5
Name: stop_duration, Length: 65535, dtype: float64

In [56]:
data.duration.mean()

np.float64(12.187420698181345)

**Question ( Groupby , Describe ) - Compare the age distributions for each violation.**

In [57]:
data.groupby('violation').driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0